# ======================================================
# = LAST.FM API CONFIGURATION                          =
# ======================================================

# your actual last.fm account username
# Example: "aadnanmt"
LASTFM_USERNAME="your_lastfm_username"

# last.fm api key for fetch scrobbles
# get it here: https://www.last.fm/api/account/create
LASTFM_API_KEY="your_api_key_here"

# ======================================================
# = COMING SOON INTEGRATION                            =
# ======================================================

# ======================================================
# = FOR PRIVATE PAGE/DIGITAL GARDEN                    =
# ======================================================

# this optional environment variabel
PRIVATE_USERNAME="your_custom_username"
PRIVATE_PASSWORD="your_custom_password"

# ======================================================
# = WEBMENTION.IO (Decentralized Social Graph)         =
# ======================================================

# get it: https://webmention.io/settings
WEBMENTION_API_KEY="your_webmention_token_here"
