---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import BackToPrev from "@components/BackToPrev.astro";
import Link from "@components/Link.astro";
import { IconHome } from "@assets/icons";

const pages = [
  { name: "Home", href: "/", desc: "The beginning of everything." },
  {
    name: "Blog",
    href: "/blog",
    desc: "My thoughts, tutorials, and technical articles.",
  },
  {
    name: "Work",
    href: "/work",
    desc: "My journey and experiences.",
  },
  {
    name: "Projects",
    href: "/projects",
    desc: "A showcase of things I've built.",
  },
  {
    name: "Commands",
    href: "/commands",
    desc: "My personal Linux command wiki and hacks.",
  },
  {
    name: "Now",
    href: "/now",
    desc: "What I'm focusing on at this exact moment.",
  },
  {
    name: "Milestones",
    href: "/milestones",
    desc: "Documenting lessons learned on my journey",
  },
  {
    name: "Credits",
    href: "/credits",
    desc: "Tools and people that made this site possible.",
  },
  {
    name: "Focus",
    href: "/focus",
    desc: "What I'm currently working on and its progress.",
  },
];
---

<PageLayout title="Explore" description="Explore all pages on this site.">
  <Container>
    <div class="space-y-10">
      <div class="animate">
        <BackToPrev href="/"> Back to home </BackToPrev>
      </div>

      <div
        class="animate flex items-center gap-2 font-semibold text-black dark:text-white"
      >
        <div class="size-5 fill-current">
          <Fragment set:html={IconHome} />
        </div>
        Explore
      </div>

      <p class="animate">
        Use the links below to navigate through the different sections of this
        site.
      </p>

      <ul class="flex flex-col space-y-8">
        {
          pages.map((page) => (
            <li class="animate">
              <div class="space-y-1">
                <Link
                  href={page.href}
                  class="font-semibold text-black dark:text-white"
                >
                  {page.name}
                </Link>
                <div class="text-sm opacity-75">{page.desc}</div>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
