---
import PageLayout from "@layouts/PageLayout.astro"
import Container from "@components/Container.astro"
import BackToPrev from "@components/BackToPrev.astro"
import { IconFocus } from "@lib/iconSystem"
import YearProgress from "@components/YearProgress.astro"
import ProgressBar from "@components/ProgressBar.astro"
import { MYFOCUS } from "@data/focus"
---

<PageLayout
  title="Focus"
  description="Current focus and project progress, Arch Linux style."
>
  <Container>
    <div class="space-y-10">
      <BackToPrev href="/explore"> Back to explore </BackToPrev>

      <div
        class="animate flex items-center gap-2 font-semibold text-black dark:text-white"
      >
        <div class="size-5 fill-current">
          <Fragment set:html={IconFocus} />
        </div>
        Focus
      </div>

      <p class="animate">
        This page shows what I'm currently working or learning on and the
        progress of each task, sync anytime.
      </p>

      <div class="animate">
        <YearProgress />
      </div>

      <div class="animate space-y-8">
        {
          MYFOCUS.map((item) => (
            <section class="space-y-4">
              <div class="flex items-center justify-between">
                <h2 class="font-semibold text-black dark:text-white">
                  {item.title}
                </h2>
              </div>
              <ProgressBar percentage={item.percentage} />
              <p class="text-sm opacity-70">{item.description}</p>
            </section>
          ))
        }
      </div>

      <div
        class="animate mt-12 border-t border-black/10 pt-8 text-xs italic opacity-50 dark:border-white/10"
      >
        Last synced from my brain: {new Date().toLocaleDateString("en-GB")}
      </div>
    </div>
  </Container>
</PageLayout>
