---

---

<div
  class="pointer-events-none fixed inset-0 z-0 hidden overflow-hidden bg-black/50 dark:block"
>
  <div
    class="shooting-star animate-shooting-star w-[100px] md:w-[150px]"
    style="top: 0%; right: 0%; animation: shooting-star 10s linear infinite; animation-delay: 0s;"
  >
  </div>
  <div
    class="shooting-star animate-shooting-star w-[120px] md:w-[150px]"
    style="top: 20%; right: -10%; animation: shooting-star 15s linear infinite; animation-delay: 3s;"
  >
  </div>
  <div
    class="shooting-star animate-shooting-star w-[100px] md:w-[150px]"
    style="top: -10%; right: 20%; animation: shooting-star 12s linear infinite; animation-delay: 7s;"
  >
  </div>
  <div
    class="shooting-star animate-shooting-star w-[110px] md:w-[150px]"
    style="top: 40%; right: -5%; animation: shooting-star 18s linear infinite; animation-delay: 10s;"
  >
  </div>
</div>
