---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import Container from "@components/Container.astro"
import ArrowCard from "@components/ArrowCard.astro"
import { PROJECTS } from "@consts"
import BackToPrev from "@components/BackToPrev.astro"
import { IconProjects } from "@lib/iconSystem"

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <BackToPrev> Back to home </BackToPrev>
      <div
        class="animate flex items-center gap-2 font-semibold text-black dark:text-white"
      >
        <div class="size-5 fill-current">
          <Fragment set:html={IconProjects} />
        </div>
        Projects
      </div>
      <ul class="animate flex flex-col gap-4">
        {
          projects.map((project) => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
